<!DOCTYPE html>
<html lang="en">
<head><% include partialviews/header.ejs %></head>
<body>
    <div class="container">
        <h1>Hello Express/EJS</h1>
        <ul>
            <%for(var i= 0; i<users.length;i++) {%>
                <li>
                    <%= users[i]%>
                </li>
                <%}%>
        </ul>
    </div>
    <% include partialviews/scripts.ejs %>
</body>
</html>